---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}
<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>
{% endif %}

## Scientific
{% assign scientific_talks = site.talks | where: "type", "Scientific" | sort: "date" | reverse %}
{% for talk in scientific_talks %}
  {% include archive-single-talk.html %}
{% endfor %}

## Educational
{% assign educational_talks = site.talks | where: "type", "Educational" | sort: "date" | reverse %}
{% for talk in educational_talks %}
  {% include archive-single-talk.html %}
{% endfor %}

## Public Outreach
{% assign outreach_talks = site.talks | where: "type", "Public Outreach" | sort: "date" | reverse %}
{% for talk in outreach_talks %}
  {% include archive-single-talk.html %}
{% endfor %}
